<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Прогноз знчения матрица-наполнитель</title>
  <style>
    .center {
      margin: auto;
      width: fit-content;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="center" style="background-color:#BBDBB4;">
    <form id="run" method="POST">
    <p><b>Плотность, кг/м3</b><br><input type="float" size="40" name="p1"></p>
    <p><b>Модуль упругости, ГПа</b><br><input type="float" size="40" name="p2"></p>
    <p><b>Количество отвердителя, м.%</b><br><input type="float" size="40" name="p3"></p>
    <p><b>Содержание эпоксидных групп,%_2</b><br><input type="float" size="40" name="p4"></p>
    <p><b>Температура вспышки, С_2</b><br><input type="float" size="40" name="p5"></p>
    <p><b>Поверхностная плотность, г/м2</b><br><input type="float" size="40" name="p6"></p>
    <p><b>Модуль упругости при растяжении, ГПа</b><br><input type="float" size="40" name="p7"></p>
    <p><b>Прочность при растяжении, МПа</b><br><input type="float" size="40" name="p8"></p>
    <p><b>Потребление смолы, г/м2</b><br><input type="float" size="40" name="p9"></p>
    <p><b>Угол нашивки, град (0 -> 0° или 1 -> 90°) </b><br><input type="float" size="40" name="p10"></p>
    <p><b>Шаг нашивки</b><br><input type="float" size="40" name="p11"></p>
    <p><b>Плотность нашивки</b><br><input type="float" size="40" name="p12"></p>
    <p><input type="submit" value="Спрогнозировать" width="fill">
    <p>Результат: {{ result }}</p>
  </form>
  </div>
</body>
</html>